In [16]:
import pandas as pd

In [18]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 84D1-AF93

 Directory of C:\Users\anike.ANIKET.000\Data Science

12/28/2016  10:28 AM    <DIR>          .
12/28/2016  10:28 AM    <DIR>          ..
12/28/2016  09:54 AM    <DIR>          .ipynb_checkpoints
03/26/2003  03:18 PM           171,308 movies.dat
02/28/2003  03:53 PM        24,594,131 ratings.dat
01/29/2016  02:39 PM             5,577 README
12/28/2016  10:28 AM             1,574 Untitled.ipynb
02/28/2003  03:53 PM           134,368 users.dat
               5 File(s)     24,906,958 bytes
               3 Dir(s)  55,752,474,624 bytes free

In [26]:
usersDF_mod = pd.read_csv("users.dat",sep="::",names = ['userID','gender','age','occupation','zipcode'])

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [24]:
usersDF_mod = pd.read_csv("users.dat",sep="::",names = ['userID','gender','age','occupation','zipcode'])

   1                    Toy Story (1995)   Animation|Children's|Comedy
0  2                      Jumanji (1995)  Adventure|Children's|Fantasy
1  3             Grumpier Old Men (1995)                Comedy|Romance
2  4            Waiting to Exhale (1995)                  Comedy|Drama
3  5  Father of the Bride Part II (1995)                        Comedy
4  6                         Heat (1995)         Action|Crime|Thriller

In [27]:
ratingsDF_mod = pd.read_csv("ratings.dat",sep="::",header=None, names = ['UserID','MovieID','Rating','TimeStamp'])

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [28]:
ratingsDF_mod.head()

   UserID  MovieID  Rating  TimeStamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [29]:
moviesDF_mod = pd.read_csv("movies.dat",sep="::",header=None,names=['MovieID','MovieName','GenreFull'])

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':

In [30]:
moviesDF_mod.head()

   MovieID                           MovieName                     GenreFull
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy